{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Company</strong>
        <small>Form</small>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="company">Company</label>
          <input class="form-control" id="company" type="text" placeholder="Enter your company name">
        </div>
        <div class="form-group">
          <label for="street">Street</label>
          <input class="form-control" id="street" type="text" placeholder="Enter street name">
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label for="postal-code">City</label>
            <input class="form-control" id="city" type="text" placeholder="Enter your city">
          </div>
          <div class="form-group col-sm-4">
            <label for="state">State</label>
            <select class="form-control use-select2" id="state" name="state">
              <option value="">Please select</option>
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option>
              <option value="DF">Distrito Federal</option>
              <option value="ES">Espírito Santo</option>
              <option value="GO">Goiás</option>
              <option value="MA">Maranhão</option>
              <option value="MT">Mato Grosso</option>
              <option value="MS">Mato Grosso do Sul</option>
              <option value="MG">Minas Gerais</option>
              <option value="PA">Pará</option>
              <option value="PB">Paraíba</option>
              <option value="PR">Paraná</option>
              <option value="PE">Pernambuco</option>
              <option value="PI">Piauí</option>
              <option value="RJ">Rio de Janeiro</option>
              <option value="RN">Rio Grande do Norte</option>
              <option value="RS">Rio Grande do Sul</option>
              <option value="RO">Rondônia</option>
              <option value="RR">Roraima</option>
              <option value="SC">Santa Catarina</option>
              <option value="SP">São Paulo</option>
              <option value="SE">Sergipe</option>
              <option value="TO">Tocantins</option>
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label for="postal-code">Postal Code</label>
            <input class="form-control" id="postal-code" type="text" placeholder="Postal Code">
          </div>
        </div> <!-- row -->
        <div class="form-group">
          <label for="country">Country</label>
          <input class="form-control" id="country" type="text" placeholder="Country name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" type="text" rows="5"></textarea>
        </div>
        <div class="float-right">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
  <script>
    $(document).ready(function() {
      $('.use-select2').select2();
    });
  </script>
{% endblock js %}