{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong>Company</strong>
      <small>Form</small>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error {% endif %}">
          <label for="{{ field.id_for_label }}">
            {% if field.field.required %}
            <span class="required">{{ field.label }}</span>
            {% else %}
            {{ field.label }}
            {% endif %}
          </label>
          {% render_field field class="form-control" %}
          {% for error in field.errors %}
          <span class="text-muted">{{ error }}</span>
          {% endfor %}
        </div>
        {% endfor %}
        <div class="float-right">
          <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
  <script>
    $(document).ready(function() {
      $('.use-select2').select2();
    });
  </script>
{% endblock js %}