{% load static %}
<!-- Traffic & Sales -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Sales
        <span class="float-right">1 of 10 results (100 total)</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-auto">
            <a class="btn btn-primary" href="">
              <i class="fa fa-plus"></i>
              Add
            </a>
          </div>
          <div class="col">
            <form action="." method="GET">
              <div class="row">
                <div class="col p-ari-5">
                  <input name="search" class="form-control mb-2" type="text" placeholder="Search..." />
                </div>
                <div class="col-auto">
                  <button class="btn btn-success mb-2" type="submit">OK</button>
                  <button class="btn btn-link mb-2">Clear</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- TABLE -->
        <table class="table table-responsive-sm table-hover table-striped mb-0">
          <thead class="thead-light">
            <tr>
              <th class="text-center">
                <i class="icon-people"></i>
              </th>
              <th>User</th>
              <th class="text-center">Country</th>
              <th>Usage</th>
              <th class="text-center">Payment Method</th>
              <th>Activity</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">
                <div class="avatar">
                  <img class="img-avatar" src="{% static 'img/avatars/1.jpg' %}" alt="avatar">
                  <span class="avatar-status badge-success"></span>
                </div>
              </td>
              <td>
                <div>Yiorgos Avraamu</div>
                <div class="small text-muted">
                  <span>New</span> | Registered: Jan 1, 2015</div>
              </td>
              <td class="text-center">
                <i class="flag-icon flag-icon-us h4 mb-0" id="us" title="us"></i>
              </td>
              <td>
                <div class="clearfix">
                  <div class="float-left">
                    <strong>50%</strong>
                  </div>
                  <div class="float-right">
                    <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                  </div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td class="text-center">
                <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
              </td>
              <td>
                <div class="small text-muted">Last login</div>
                <strong>10 sec ago</strong>
              </td>
              <td class="text-center">
                <a href="">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <div class="avatar">
                  <img class="img-avatar" src="{% static 'img/avatars/2.jpg' %}" alt="avatar">
                  <span class="avatar-status badge-danger"></span>
                </div>
              </td>
              <td>
                <div>Avram Tarasios</div>
                <div class="small text-muted">
                  <span>Recurring</span> | Registered: Jan 1, 2015</div>
              </td>
              <td class="text-center">
                <i class="flag-icon flag-icon-br h4 mb-0" id="br" title="br"></i>
              </td>
              <td>
                <div class="clearfix">
                  <div class="float-left">
                    <strong>10%</strong>
                  </div>
                  <div class="float-right">
                    <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                  </div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td class="text-center">
                <i class="fa fa-cc-visa" style="font-size:24px"></i>
              </td>
              <td>
                <div class="small text-muted">Last login</div>
                <strong>5 minutes ago</strong>
              </td>
              <td class="text-center">
                <a href="">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <div class="avatar">
                  <img class="img-avatar" src="{% static 'img/avatars/3.jpg' %}" alt="avatar">
                  <span class="avatar-status badge-warning"></span>
                </div>
              </td>
              <td>
                <div>Quintin Ed</div>
                <div class="small text-muted">
                  <span>New</span> | Registered: Jan 1, 2015</div>
              </td>
              <td class="text-center">
                <i class="flag-icon flag-icon-in h4 mb-0" id="in" title="in"></i>
              </td>
              <td>
                <div class="clearfix">
                  <div class="float-left">
                    <strong>74%</strong>
                  </div>
                  <div class="float-right">
                    <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                  </div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 74%" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td class="text-center">
                <i class="fa fa-cc-stripe" style="font-size:24px"></i>
              </td>
              <td>
                <div class="small text-muted">Last login</div>
                <strong>1 hour ago</strong>
              </td>
              <td class="text-center">
                <a href="">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <div class="avatar">
                  <img class="img-avatar" src="{% static 'img/avatars/4.jpg' %}" alt="avatar">
                  <span class="avatar-status badge-secondary"></span>
                </div>
              </td>
              <td>
                <div>Enéas Kwadwo</div>
                <div class="small text-muted">
                  <span>New</span> | Registered: Jan 1, 2015</div>
              </td>
              <td class="text-center">
                <i class="flag-icon flag-icon-fr h4 mb-0" id="fr" title="fr"></i>
              </td>
              <td>
                <div class="clearfix">
                  <div class="float-left">
                    <strong>98%</strong>
                  </div>
                  <div class="float-right">
                    <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                  </div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td class="text-center">
                <i class="fa fa-paypal" style="font-size:24px"></i>
              </td>
              <td>
                <div class="small text-muted">Last login</div>
                <strong>Last month</strong>
              </td>
              <td class="text-center">
                <a href="">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <div class="avatar">
                  <img class="img-avatar" src="{% static 'img/avatars/5.jpg' %}" alt="avatar">
                  <span class="avatar-status badge-success"></span>
                </div>
              </td>
              <td>
                <div>Agapetus Tadeáš</div>
                <div class="small text-muted">
                  <span>New</span> | Registered: Jan 1, 2015</div>
              </td>
              <td class="text-center">
                <i class="flag-icon flag-icon-es h4 mb-0" id="es" title="es"></i>
              </td>
              <td>
                <div class="clearfix">
                  <div class="float-left">
                    <strong>22%</strong>
                  </div>
                  <div class="float-right">
                    <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                  </div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td class="text-center">
                <i class="fa fa-google-wallet" style="font-size:24px"></i>
              </td>
              <td>
                <div class="small text-muted">Last login</div>
                <strong>Last week</strong>
              </td>
              <td class="text-center">
                <a href="">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <div class="avatar">
                  <img class="img-avatar" src="{% static 'img/avatars/6.jpg' %}" alt="avatar">
                  <span class="avatar-status badge-danger"></span>
                </div>
              </td>
              <td>
                <div>Friderik Dávid</div>
                <div class="small text-muted">
                  <span>New</span> | Registered: Jan 1, 2015</div>
              </td>
              <td class="text-center">
                <i class="flag-icon flag-icon-pl h4 mb-0" id="pl" title="pl"></i>
              </td>
              <td>
                <div class="clearfix">
                  <div class="float-left">
                    <strong>43%</strong>
                  </div>
                  <div class="float-right">
                    <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                  </div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td class="text-center">
                <i class="fa fa-cc-amex" style="font-size:24px"></i>
              </td>
              <td>
                <div class="small text-muted">Last login</div>
                <strong>Yesterday</strong>
              </td>
              <td class="text-center">
                <a href="">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      <!-- pagination -->
      {% include "../includes/pagination.html" %}
      </div>
    </div>
  </div>
  <!-- /.col-->
</div>